<div> 
  <button class="hide-on-desktop" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-toolbar class="hide-on-small-screens" color="primary">
    <a mat-button class="companyName" routerLink="/">
      <span>Angular Training App</span>
    </a>
    <span class="example-spacer"></span>
      <a mat-button routerLink="/about">About us</a>
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/images">Images</a>
      <a mat-button routerLink="/contact">Contact</a>
  </mat-toolbar>
  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav class="hide-on-desktop" color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <a mat-button routerLink="/about">About us</a>
      <a mat-button routerLink="/home">Home</a>
      <a mat-button routerLink="/images">Images</a>
      <a mat-button routerLink="/contact">Contact</a>
    </mat-sidenav>
  </mat-sidenav-container>
  <router-outlet></router-outlet>    
</div>
